body {
    padding-top:0;
    padding-bottom: 0;
}
#header #logo h1 a{
    font-size:medium;
}
#header{
    top: 0;
}
#about .about-container p{
    font-size:small;
}

.section-header .section-description {
    font-size:medium;
}

#contact{
    background-color: lightgray;
}

#contact p.section-description{
    color: black;
}

input#submitBtn.form-control{
    background-color:#2DC997;
}

#bottomDesc p.section-description{
    padding-bottom: 0;
}

input[type=text]{
    width:100%;
}

textarea#Message{
    width: 100%;
    height: 215px;
    resize: none;
}

i.fa.fa-folder{
    padding-right: 14px;
}

div.section-header{
    margin-right: 4%;
}